/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --primary-color: #e8d4bdba;
  --secondary-color: #c1a5a5;
  --tetiary-color: #95a9a140;
}

.pad {
  padding: 1em;
}

.flex {
  display: flex;
  gap: 1rem;
}

.max_width {
  max-width: 40rem;
}

.fit {
  position: absolute;
}

.container {
  background-color: var(--tetiary-color);
  margin: auto;
  border-radius: 1rem;
}

.border {
  border: 1px solid;
  border-radius: 1rem;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}
